<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Yeah</title>
    <meta charset="utf-8"/>
    <!--for bootstrap-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!--Меню-->

</body>
</html>
<!--
<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Fuck JSP and FrontEnd</title>


    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>    <%&#45;&#45;Why this not works in resources package&#45;&#45;%>



</head>
<body>

        <form id="input" action="processFrom" method="post">
            <label for="extension">Extension:</label><input id="extension" name="extension" type="text" value=".log"/>
            <br/>
            <label for="goalText">Text for finding:</label><input id="goalText" name="goalText" type="text" value=""/>
            <br/>
            <input type="submit" text="Submit to Armageddon"/>
        </form>


<br/>
<p>Big bad static boy</p><br/>
<ul class="table-tree" cellspacing="0">

    <li>
        <label for="mainfolder">logExample</label>
        <input type="checkbox" id="mainfolder" />
        <ul class="table-wrapper">
            <li>
                <label for="subfolder1">BigBoyInside</label>
                <input type="checkbox" id="subfolder1" />
                <ul class="table-wrapper">
                    <li id="file0" class="file"><a href="">BigBoy.log</a>
                    </li><li id="file1" class="file"><a href="">SmallBoy.log</a>
                </li></ul>
            </li>
            <li>
                <label for="subfolder2">HiddenLogInside</label>
                <input type="checkbox" id="subfolder2" />
                <ul class="table-wrapper">
                    <li>
                        <label for="subsubfolder1">HiddenStuff</label>
                        <input type="checkbox" id="subsubfolder1" />
                        <ul class="table-wrapper">
                            <li id="file2" class="file"><a href="">hiddenguy.log</a>
                            </li></ul>
                    </li>
                    <li class="file"><a href="">afterFolders.log</a>
                    </li></ul>
            </li>
            <li>
                <label for="subfolder3">LogExampleInner</label>
                <input type="checkbox" id="subfolder3" />
                <ul class="table-wrapper">
                    <li class="file"><a href="">graphics.log</a>
                    </li></ul>
            </li>
            <li class="file"><a href="">game.log</a>
            </li><li class="file"><a href="">setup.log</a>
        </li></ul>
    </li>
</ul>

        <p><span id="errorMessage">Test</span></p><%&#45;&#45;CSS not works here but works with folders&#45;&#45;%></br>
        <p id="getTime"></p><br/>
        <p id="file3"></p><br/>
        <div id="realAjax">
            <ul id="ulSubFoldersAndFiles100" class="table-tree" cellspacing="0">
            </ul>
        </div>

</body>
</html>-->
